#sidebar {
    width: 40%;
    height: 100vh;
    z-index: 1;
    color: #FFF;
    background-color: var(--header-bg-color);
}

#sidebar ul {
    display: flex;
    flex-direction: column;
}

#sidebar li {
    padding: 1.5rem;
    font-weight: 800;
}

#sidebar a {
    text-decoration: none;
    color: #222;
}