.products, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products h2 {
    margin: 1rem 0;
}

@media screen and (min-width: 624px) {
    .container {
        flex-direction: row;
        align-items: unset;
        flex-wrap: wrap;
        justify-content: center;
    }
}